<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org"/>
<head>
    <meta charset="UTF-8">
    <title>Person</title>
</head>
<body>
<h3 th:text="${person.getName()}"></h3>
<h3 th:text="${person.getId()}"></h3>
<h3 th:text="${person.getAge()}"></h3>
<h3 th:text="${person.getEmail()}"></h3>
<hr/>
<a th:href="@{/people/{id}/edit(id=${person.getId()})}">Edit</a>
<form th:method="DELETE" th:action="@{/people/{id}(id=${person.getId()})}">
    <input type="submit" value="Delete"/>
</form>
</body>
</html>